<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allianz.pa.dao.PrlCommonQuotePolicyAllMapper">
  <resultMap id="BaseResultMap" type="com.allianz.pa.entity.PrlCommonQuotePolicyAll">
    <result column="QUOTE_ID" jdbcType="DECIMAL" property="quoteId" />
    <result column="CONTRACT_ID" jdbcType="DECIMAL" property="contractId" />
    <result column="CONTRACT_STATUS" jdbcType="DECIMAL" property="contractStatus" />
    <result column="QUOTE_REF" jdbcType="VARCHAR" property="quoteRef" />
    <result column="POLICY_REF" jdbcType="VARCHAR" property="policyRef" />
    <result column="PRODUCT_ID" jdbcType="DECIMAL" property="productId" />
    <result column="SUB_PRODUCT" jdbcType="VARCHAR" property="subProduct" />
    <result column="INSURED_NAME" jdbcType="VARCHAR" property="insuredName" />
    <result column="BRANCH_CODE" jdbcType="VARCHAR" property="branchCode" />
    <result column="SALES_CODE" jdbcType="VARCHAR" property="salesCode" />
    <result column="SALES_TEAM" jdbcType="VARCHAR" property="salesTeam" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="SALES_CHANNEL" jdbcType="VARCHAR" property="salesChannel" />
    <result column="SALES_CHANNEL_CATEGORY" jdbcType="VARCHAR" property="salesChannelCategory" />
    <result column="PREMIUM" jdbcType="DECIMAL" property="premium" />
    <result column="SUM_INSURED" jdbcType="DECIMAL" property="sumInsured" />
    <result column="QUOTE_SENT_DATE" jdbcType="TIMESTAMP" property="quoteSentDate" />
    <result column="TERM_START_DATE" jdbcType="TIMESTAMP" property="termStartDate" />
    <result column="TERM_END_DATE" jdbcType="TIMESTAMP" property="termEndDate" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="ISSUE_DATE" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="LUA_VALUE_1" jdbcType="VARCHAR" property="luaValue1" />
    <result column="LUA_VALUE_2" jdbcType="VARCHAR" property="luaValue2" />
    <result column="LUA_VALUE_3" jdbcType="VARCHAR" property="luaValue3" />
    <result column="LUA_VALUE_4" jdbcType="VARCHAR" property="luaValue4" />
    <result column="LUA_VALUE_5" jdbcType="VARCHAR" property="luaValue5" />
    <result column="LUA_VALUE_6" jdbcType="VARCHAR" property="luaValue6" />
    <result column="LUA_VALUE_7" jdbcType="VARCHAR" property="luaValue7" />
    <result column="CONTRACT_CURRENCY" jdbcType="VARCHAR" property="contractCurrency" />
    <result column="APPLICATION_DATE" jdbcType="TIMESTAMP" property="applicationDate" />
  </resultMap>
  <sql id="Base_Column_List">
      CONTRACT_ID, CONTRACT_STATUS, POLICY_REF, PRODUCT_ID, 
      SUB_PRODUCT, INSURED_NAME, BRANCH_CODE, 
      SALES_CODE, CREATED_BY, SALES_CHANNEL, PREMIUM, SUM_INSURED,
      TERM_START_DATE, TERM_END_DATE, CREATE_DATE, UPDATE_DATE, 
      ISSUE_DATE,  CONTRACT_CURRENCY, APPLICATION_DATE 
  </sql>
  <insert id="insert" parameterType="com.allianz.pa.entity.PrlCommonQuotePolicyAll">
    insert into PRL_COMMON_QUOTE_POLICY_ALL (QUOTE_ID, CONTRACT_ID, CONTRACT_STATUS, 
      QUOTE_REF, POLICY_REF, PRODUCT_ID, 
      SUB_PRODUCT, INSURED_NAME, BRANCH_CODE, 
      SALES_CODE, SALES_TEAM, CREATED_BY, 
      SALES_CHANNEL, SALES_CHANNEL_CATEGORY, PREMIUM, 
      SUM_INSURED, QUOTE_SENT_DATE, TERM_START_DATE, 
      TERM_END_DATE, CREATE_DATE, UPDATE_DATE, 
      ISSUE_DATE, LUA_VALUE_1, LUA_VALUE_2, 
      LUA_VALUE_3, LUA_VALUE_4, LUA_VALUE_5, 
      LUA_VALUE_6, LUA_VALUE_7, CONTRACT_CURRENCY, 
      APPLICATION_DATE)
    values (#{quoteId,jdbcType=DECIMAL}, #{contractId,jdbcType=DECIMAL}, #{contractStatus,jdbcType=DECIMAL}, 
      #{quoteRef,jdbcType=VARCHAR}, #{policyRef,jdbcType=VARCHAR}, #{productId,jdbcType=DECIMAL}, 
      #{subProduct,jdbcType=VARCHAR}, #{insuredName,jdbcType=VARCHAR}, #{branchCode,jdbcType=VARCHAR}, 
      #{salesCode,jdbcType=VARCHAR}, #{salesTeam,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{salesChannel,jdbcType=VARCHAR}, #{salesChannelCategory,jdbcType=VARCHAR}, #{premium,jdbcType=DECIMAL}, 
      #{sumInsured,jdbcType=DECIMAL}, #{quoteSentDate,jdbcType=TIMESTAMP}, #{termStartDate,jdbcType=TIMESTAMP}, 
      #{termEndDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{issueDate,jdbcType=TIMESTAMP}, #{luaValue1,jdbcType=VARCHAR}, #{luaValue2,jdbcType=VARCHAR}, 
      #{luaValue3,jdbcType=VARCHAR}, #{luaValue4,jdbcType=VARCHAR}, #{luaValue5,jdbcType=VARCHAR}, 
      #{luaValue6,jdbcType=VARCHAR}, #{luaValue7,jdbcType=VARCHAR}, #{contractCurrency,jdbcType=VARCHAR}, 
      #{applicationDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.allianz.pa.entity.PrlCommonQuotePolicyAll">
    insert into PRL_COMMON_QUOTE_POLICY_ALL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="quoteId != null">
        QUOTE_ID,
      </if>
      <if test="contractId != null">
        CONTRACT_ID,
      </if>
      <if test="contractStatus != null">
        CONTRACT_STATUS,
      </if>
      <if test="quoteRef != null">
        QUOTE_REF,
      </if>
      <if test="policyRef != null">
        POLICY_REF,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="subProduct != null">
        SUB_PRODUCT,
      </if>
      <if test="insuredName != null">
        INSURED_NAME,
      </if>
      <if test="branchCode != null">
        BRANCH_CODE,
      </if>
      <if test="salesCode != null">
        SALES_CODE,
      </if>
      <if test="salesTeam != null">
        SALES_TEAM,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="salesChannel != null">
        SALES_CHANNEL,
      </if>
      <if test="salesChannelCategory != null">
        SALES_CHANNEL_CATEGORY,
      </if>
      <if test="premium != null">
        PREMIUM,
      </if>
      <if test="sumInsured != null">
        SUM_INSURED,
      </if>
      <if test="quoteSentDate != null">
        QUOTE_SENT_DATE,
      </if>
      <if test="termStartDate != null">
        TERM_START_DATE,
      </if>
      <if test="termEndDate != null">
        TERM_END_DATE,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="issueDate != null">
        ISSUE_DATE,
      </if>
      <if test="luaValue1 != null">
        LUA_VALUE_1,
      </if>
      <if test="luaValue2 != null">
        LUA_VALUE_2,
      </if>
      <if test="luaValue3 != null">
        LUA_VALUE_3,
      </if>
      <if test="luaValue4 != null">
        LUA_VALUE_4,
      </if>
      <if test="luaValue5 != null">
        LUA_VALUE_5,
      </if>
      <if test="luaValue6 != null">
        LUA_VALUE_6,
      </if>
      <if test="luaValue7 != null">
        LUA_VALUE_7,
      </if>
      <if test="contractCurrency != null">
        CONTRACT_CURRENCY,
      </if>
      <if test="applicationDate != null">
        APPLICATION_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="quoteId != null">
        #{quoteId,jdbcType=DECIMAL},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=DECIMAL},
      </if>
      <if test="contractStatus != null">
        #{contractStatus,jdbcType=DECIMAL},
      </if>
      <if test="quoteRef != null">
        #{quoteRef,jdbcType=VARCHAR},
      </if>
      <if test="policyRef != null">
        #{policyRef,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="subProduct != null">
        #{subProduct,jdbcType=VARCHAR},
      </if>
      <if test="insuredName != null">
        #{insuredName,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null">
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="salesCode != null">
        #{salesCode,jdbcType=VARCHAR},
      </if>
      <if test="salesTeam != null">
        #{salesTeam,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="salesChannel != null">
        #{salesChannel,jdbcType=VARCHAR},
      </if>
      <if test="salesChannelCategory != null">
        #{salesChannelCategory,jdbcType=VARCHAR},
      </if>
      <if test="premium != null">
        #{premium,jdbcType=DECIMAL},
      </if>
      <if test="sumInsured != null">
        #{sumInsured,jdbcType=DECIMAL},
      </if>
      <if test="quoteSentDate != null">
        #{quoteSentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="termStartDate != null">
        #{termStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="termEndDate != null">
        #{termEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="issueDate != null">
        #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="luaValue1 != null">
        #{luaValue1,jdbcType=VARCHAR},
      </if>
      <if test="luaValue2 != null">
        #{luaValue2,jdbcType=VARCHAR},
      </if>
      <if test="luaValue3 != null">
        #{luaValue3,jdbcType=VARCHAR},
      </if>
      <if test="luaValue4 != null">
        #{luaValue4,jdbcType=VARCHAR},
      </if>
      <if test="luaValue5 != null">
        #{luaValue5,jdbcType=VARCHAR},
      </if>
      <if test="luaValue6 != null">
        #{luaValue6,jdbcType=VARCHAR},
      </if>
      <if test="luaValue7 != null">
        #{luaValue7,jdbcType=VARCHAR},
      </if>
      <if test="contractCurrency != null">
        #{contractCurrency,jdbcType=VARCHAR},
      </if>
      <if test="applicationDate != null">
        #{applicationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectByContractId" parameterType="long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prl_common_quote_policy_all 
    where CONTRACT_ID = #{contractId}
  </select>
  
  <select id="deleteByContractId" parameterType="long" >
	delete from prl_common_quote_policy_all where CONTRACT_ID = #{contractId}
  </select>
  
  <update id="updateByContractIdSelective" parameterType="com.allianz.pa.entity.PrlCommonQuotePolicyAll">
    update PRL_COMMON_QUOTE_POLICY_ALL
     <set>
      <if test="contractStatus != null">
        CONTRACT_STATUS =#{contractStatus,jdbcType=DECIMAL},
      </if>
      <if test="policyRef != null">
        POLICY_REF = #{policyRef,jdbcType=VARCHAR},
      </if>
      <if test="insuredName != null">
        INSURED_NAME =#{insuredName,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null">
        BRANCH_CODE =#{branchCode,jdbcType=VARCHAR}, 
      </if>
      <if test="salesCode != null">
        SALES_CODE =#{salesCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY =#{createdBy,jdbcType=VARCHAR}, 
      </if>
      <if test="salesChannel != null">
        SALES_CHANNEL =#{salesChannel,jdbcType=VARCHAR},
      </if>
      <if test="premium != null">
        PREMIUM =#{premium,jdbcType=DECIMAL}, 
      </if>
      <if test="sumInsured != null">
        SUM_INSURED =#{sumInsured,jdbcType=DECIMAL},
      </if>
      <if test="termStartDate != null">
        TERM_START_DATE =#{termStartDate,jdbcType=TIMESTAMP}, 
      </if>
      <if test="termEndDate != null">
        TERM_END_DATE =#{termEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}, 
      </if>
      <if test="updateDate != null">
        UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP}, 
      </if>
      <if test="issueDate != null">
        ISSUE_DATE =#{issueDate,jdbcType=TIMESTAMP}, 
      </if>
      <if test="contractCurrency != null">
        CONTRACT_CURRENCY =#{contractCurrency,jdbcType=VARCHAR}, 
      </if>
      <if test="applicationDate != null">
        APPLICATION_DATE =#{applicationDate,jdbcType=TIMESTAMP},
      </if>
      </set>
      where CONTRACT_ID = #{contractId,jdbcType=DECIMAL}
  </update>
</mapper>