<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allianz.pa.dao.WipPrlPartPlanExtMapper">
  <resultMap id="BaseResultMap" type="com.allianz.pa.entity.WipPrlPartPlanExt">
    <id column="CONTRACT_ID" jdbcType="DECIMAL" property="contractId" />
    <id column="PARTITION_NO" jdbcType="DECIMAL" property="partitionNo" />
    <id column="SEQ_NO" jdbcType="DECIMAL" property="seqNo" />
    <result column="ACTION_CODE" jdbcType="CHAR" property="actionCode" />
    <result column="VERSION_NO" jdbcType="DECIMAL" property="versionNo" />
    <result column="OBJECT_ID" jdbcType="DECIMAL" property="objectId" />
    <result column="TOP_INDICATOR" jdbcType="CHAR" property="topIndicator" />
    <result column="PREVIOUS_VERSION" jdbcType="DECIMAL" property="previousVersion" />
    <result column="REVERSING_VERSION" jdbcType="DECIMAL" property="reversingVersion" />
    <result column="PLAN_ID" jdbcType="DECIMAL" property="planId" />
    <result column="PLAN_VERSION_NO" jdbcType="DECIMAL" property="planVersionNo" />
    <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="EFFECTIVE_DATE" jdbcType="TIMESTAMP" property="effectiveDate" />
  </resultMap>
  <sql id="Base_Column_List">
    CONTRACT_ID, PARTITION_NO, SEQ_NO, ACTION_CODE, VERSION_NO, OBJECT_ID, TOP_INDICATOR, 
    PREVIOUS_VERSION, REVERSING_VERSION, PLAN_ID, PLAN_VERSION_NO, START_DATE, END_DATE, 
    EFFECTIVE_DATE
  </sql>
  <sql id='Wip_Prl_Part_Plan_Ext_Seq'>prl_part_plan_ext_seq1.nextval</sql>
  <select id="selectByPrimaryKey" parameterType="com.allianz.pa.entity.WipPrlPartPlanExtKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WIP_PRL_PART_PLAN_EXT
    where CONTRACT_ID = #{contractId,jdbcType=DECIMAL}
      and PARTITION_NO = #{partitionNo,jdbcType=DECIMAL}
      and SEQ_NO = #{seqNo,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.allianz.pa.entity.WipPrlPartPlanExtKey">
    delete from WIP_PRL_PART_PLAN_EXT
    where CONTRACT_ID = #{contractId,jdbcType=DECIMAL}
      and PARTITION_NO = #{partitionNo,jdbcType=DECIMAL}
      and SEQ_NO = #{seqNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.allianz.pa.entity.WipPrlPartPlanExt">
    insert into WIP_PRL_PART_PLAN_EXT (CONTRACT_ID, PARTITION_NO, SEQ_NO, 
      ACTION_CODE, VERSION_NO, OBJECT_ID, 
      TOP_INDICATOR, PREVIOUS_VERSION, REVERSING_VERSION, 
      PLAN_ID, PLAN_VERSION_NO, START_DATE, 
      END_DATE, EFFECTIVE_DATE)
    values (#{contractId,jdbcType=DECIMAL}, #{partitionNo,jdbcType=DECIMAL}, #{seqNo,jdbcType=DECIMAL}, 
      #{actionCode,jdbcType=CHAR}, #{versionNo,jdbcType=DECIMAL}, #{objectId,jdbcType=DECIMAL}, 
      #{topIndicator,jdbcType=CHAR}, #{previousVersion,jdbcType=DECIMAL}, #{reversingVersion,jdbcType=DECIMAL}, 
      #{planId,jdbcType=DECIMAL}, #{planVersionNo,jdbcType=DECIMAL}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{effectiveDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.allianz.pa.entity.WipPrlPartPlanExt">
    insert into WIP_PRL_PART_PLAN_EXT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractId != null">
        CONTRACT_ID,
      </if>
      <if test="partitionNo != null">
        PARTITION_NO,
      </if>
      <!-- <if test="seqNo != null"> -->
        SEQ_NO,
      <!-- </if> -->
      <if test="actionCode != null">
        ACTION_CODE,
      </if>
      <if test="versionNo != null">
        VERSION_NO,
      </if>
      <if test="objectId != null">
        OBJECT_ID,
      </if>
      <if test="topIndicator != null">
        TOP_INDICATOR,
      </if>
      <if test="previousVersion != null">
        PREVIOUS_VERSION,
      </if>
      <if test="reversingVersion != null">
        REVERSING_VERSION,
      </if>
      <if test="planId != null">
        PLAN_ID,
      </if>
      <if test="planVersionNo != null">
        PLAN_VERSION_NO,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="effectiveDate != null">
        EFFECTIVE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractId != null">
        #{contractId,jdbcType=DECIMAL},
      </if>
      <if test="partitionNo != null">
        #{partitionNo,jdbcType=DECIMAL},
      </if>
      <include refid="Wip_Prl_Part_Plan_Ext_Seq" />,
      <!-- <if test="seqNo != null">
        #{seqNo,jdbcType=DECIMAL},
      </if> -->
      <if test="actionCode != null">
        #{actionCode,jdbcType=CHAR},
      </if>
      <if test="versionNo != null">
        #{versionNo,jdbcType=DECIMAL},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=DECIMAL},
      </if>
      <if test="topIndicator != null">
        #{topIndicator,jdbcType=CHAR},
      </if>
      <if test="previousVersion != null">
        #{previousVersion,jdbcType=DECIMAL},
      </if>
      <if test="reversingVersion != null">
        #{reversingVersion,jdbcType=DECIMAL},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=DECIMAL},
      </if>
      <if test="planVersionNo != null">
        #{planVersionNo,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.allianz.pa.entity.WipPrlPartPlanExt">
    update WIP_PRL_PART_PLAN_EXT
    <set>
      <if test="actionCode != null">
        ACTION_CODE = #{actionCode,jdbcType=CHAR},
      </if>
      <if test="versionNo != null">
        VERSION_NO = #{versionNo,jdbcType=DECIMAL},
      </if>
      <if test="objectId != null">
        OBJECT_ID = #{objectId,jdbcType=DECIMAL},
      </if>
      <if test="topIndicator != null">
        TOP_INDICATOR = #{topIndicator,jdbcType=CHAR},
      </if>
      <if test="previousVersion != null">
        PREVIOUS_VERSION = #{previousVersion,jdbcType=DECIMAL},
      </if>
      <if test="reversingVersion != null">
        REVERSING_VERSION = #{reversingVersion,jdbcType=DECIMAL},
      </if>
      <if test="planId != null">
        PLAN_ID = #{planId,jdbcType=DECIMAL},
      </if>
      <if test="planVersionNo != null">
        PLAN_VERSION_NO = #{planVersionNo,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveDate != null">
        EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CONTRACT_ID = #{contractId,jdbcType=DECIMAL}
      and PARTITION_NO = #{partitionNo,jdbcType=DECIMAL}
      and SEQ_NO = #{seqNo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allianz.pa.entity.WipPrlPartPlanExt">
    update WIP_PRL_PART_PLAN_EXT
    set ACTION_CODE = #{actionCode,jdbcType=CHAR},
      VERSION_NO = #{versionNo,jdbcType=DECIMAL},
      OBJECT_ID = #{objectId,jdbcType=DECIMAL},
      TOP_INDICATOR = #{topIndicator,jdbcType=CHAR},
      PREVIOUS_VERSION = #{previousVersion,jdbcType=DECIMAL},
      REVERSING_VERSION = #{reversingVersion,jdbcType=DECIMAL},
      PLAN_ID = #{planId,jdbcType=DECIMAL},
      PLAN_VERSION_NO = #{planVersionNo,jdbcType=DECIMAL},
      START_DATE = #{startDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP}
    where CONTRACT_ID = #{contractId,jdbcType=DECIMAL}
      and PARTITION_NO = #{partitionNo,jdbcType=DECIMAL}
      and SEQ_NO = #{seqNo,jdbcType=DECIMAL}
  </update>
</mapper>